/****************************************************
 *
 * Classes
 *
 ****************************************************/

body {
    margin-top: 20;
    padding: 0;
    font-family: Verdana, "Bitstream Vera Sans", sans-serif;
    line-height: 1.8em;
    color: #fff;
    background-color: #4a525a; /* dark blue slate thing */
    text-align: center;
    min-width: 760px;
    font-size: 0.75em;
    color: #ddd;
}


.light {
/*
    color: #4a525a;    
    background-color: #ddd;
*/
}

.dark {

}

a {
    text-decoration: none;
    }

a {
    text-decoration: none;
    color: inherit;
    border-color: #888;
    border-width: 0 0 1px 0;
    border-style: none none solid none;
    padding: 3px 0px 2px 0px;
    background-color: inherit;
    }



a em {
    padding-bottom: 2px; /* Hack for WebKit; otherwise the underscore padding is 0 */
    }



/****************************************************
 *
 * IDs
 *
 ****************************************************/


#inner {
    width: 320px;
    margin: 0 auto;
    align: center;

}

#choose_user {
    padding-top: 40px;
}

#content{
    text-align: center;
    width: 100%;
}


#items {
    text-align: left;
    margin: 0 auto;
    padding-top: 40px;
    align: center;
}

